{%extends 'web/home.html'%}

  {%block homeimage%} 
                   
       {%endblock%}
     {%block about%} 
     <style type="text/css">
        #temp{
        color: black;
      }
      @media only screen and (max-width: 768px){
        #temp{
        color: white;
      }}
     </style>
      <div id="about">
                <div  style="margin-top: 100px;" class="about-content">
                    <div class="us-grid">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="about-image">
                                        <img src="/img/banner-img.PNG" alt="" class="about-img">
                                    </div><!-- end about-image  -->
                                </div><!-- end col-md-6  -->
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="about-details">
                                        <h3>About Grocery Mart</h3>
                                          <p> Online shopping is the most recent phenomenon in the Indian online space. Men and women of all ages visit the eCommerce websites regularly and buy the necessaries of life.

Men from far and near visit online marketplaces to buy and sell goods. The most striking feature in online market is that it is free of large crowd and noise. A person can visit the online shopping site during his free time and place orders to buy an item.

Many people make their daily purchases online. Today, there are online shops even of grocers. Rice, pulse, oil, and stationary goods are also bought online. The online grocery stores also sell fruits, vegetables, potato, onions, bread, butter, etc.

There are online shopping websites that sell toys, paper, exercise books etc.

There are eCommerce websites to buy products for babies. They sell almost everything that a kid may ever need.

The most important advantage of online shopping is that we can compare the prices of various items across several eCommerce website. In this way, we are assured the best deal.

The online electronic stores sell various electronic products at competitive prices. We can buy mobile phones, televisions, refrigerators from the convenience of our home.

Most of the leading online shopping website allows the customers to pay cash on delivery of the products. Hence, the risk of online money transfer gets mitigated.</p>
                                        
                                    </div><!-- end about-details  -->
                                </div><!-- end col-md-6  -->
                            </div><!-- end row  -->
<br><br><br>
                          
                        </div><!-- end container  -->
                    </div><!-- end me-grid  -->
                    <br><br><br><br><br><br>
          {%endblock%} 
    {%block divider%}
         {%endblock%}   
 {%block team%}
      {%endblock%}
   {%block events%}  

                    {%endblock%}
                     {%block gallery%} 

                       {%endblock%}
                         {%block alumni%}  
                           {%endblock%}
                       
                                {%block contact%} 
                            {%endblock%}
                         












