{%extends 'web/home.html'%}
   
  {%block homeimage%} 
                   
       {%endblock%}
     {%block about%} 
          {%endblock%} 
    {%block divider%}
         {%endblock%}   
 {%block team%}
      {%endblock%}
   {%block events%}  

                    {%endblock%}
                     {%block gallery%} 
                     <style type="text/css">
        #temp{
        color: black;
      }
      @media only screen and (max-width: 768px){
        #temp{
        color: white;
      }}
     </style>
                       <div id="work">
                <div  style="margin-top: 100px;" class="work-content">
                    <div class="work-grid">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="main-title text-center">
                                        <h3> Gallery</h3>
                                        <div class="underline1"></div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="work-details">
                        <div class="container">
                            <ul id="filters" class="clearfix">
                              
                            </ul>
                            <div id="portfoliolist">
                                <div class="portfolio filter2" data-cat="filter2">
                                    <div class="portfolio-wrapper" data-wow-delay=".2s">
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                  
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0279-min.jpg" > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                       </i></a>
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img  src="img/DSC_0279-min.jpg" alt="" />
                                    </div>
                                </div><!-- end portfolio-filter2  -->               
                                <div class="portfolio filter1" data-cat="filter1">

                                    <div class="portfolio-wrapper" data-wow-delay=".4s">    
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                 
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0276-min.jpg"  ><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                       
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0276-min.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                </div><!-- end portfolio-filter1  -->   
                                <div class="portfolio filter3" data-cat="filter3">

                                    <div class="portfolio-wrapper" data-wow-delay=".6s">    
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                   
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0841-min.jpg"  > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                        
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0841-min.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                </div><!-- end portfolio-filter3  -->           
                                <div class="portfolio filter2" data-cat="filter2">
                                    <div class="portfolio-wrapper" data-wow-delay=".8s">    
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                    
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0508 copy.jpg"  > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                      
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0508 copy.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                    <div class="portfolio-wrapper" data-wow-delay=".8s">    
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                  
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0162-min.jpg"  > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                       
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0162-min.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                </div><!-- end portfolio-filter2  -->
                                <div class="portfolio filter1" data-cat="filter1">
                                                 <div class="portfolio-wrapper" data-wow-delay=".2s">
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                   
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0338 copy.jpg"  > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                       
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0338 copy.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                    <div class="portfolio-wrapper" data-wow-delay=".2s">
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                 
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0345 copy.jpg"  > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0345 copy.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                </div><!-- end portfolio-filter3  -->       
                                <div class="portfolio filter4" data-cat="filter4">
                                    <div class="portfolio-wrapper" data-wow-delay=".2s">    
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                  
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0348 copy.jpg" > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                        
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0348 copy.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                    <div class="portfolio-wrapper" data-wow-delay=".2s">    
                                        <div class="overlay text-center">
                                            <div class="port-over"></div>
                                            <div class="overlay-main">
                                                <div class="table-cell">
                                                   
                                                    <div class="work-icon-content">
                                                        <a class="fancybox" href="img/DSC_0598 copy.jpg" > <i class="fa fa-eye" aria-hidden="true"></i></i></a>
                                                        
                                                    </div>
                                                </div><!-- end table-cell  -->
                                            </div><!-- end overlay-main  -->
                                        </div><!-- end overlay  -->
                                        <img src="img/DSC_0598 copy.jpg" alt="" />
                                    </div><!-- end portfolio-wrapper  -->
                                </div><!-- end portfolio-photo  -->                                                 
                            </div><!-- end portfolio-photo  --> 
                        </div><!-- container -->
                    </div><!-- end work-details  -->
                </div><!-- end work-content  -->
            </div><!-- end work  --> 
                       {%endblock%}
                         {%block alumni%}  
                           {%endblock%}
                          {%block sponsors%}   
                            {%endblock%}
                                {%block contact%} 
                            {%endblock%}
                         